body {
    font-size: calc(1em + 1vh);
}

h1 {
    text-align: center;
    margin-bottom: 3vh;
    font-size: calc(1em + 2vh);
}

.page-content {
    max-width: 50vw;
    margin: 0 auto;
}

.bayan-block {
    display: flex;
    flex-direction: column;
}

.bayan-block:hover {
    color: green;
}

.bayan-block input {
    display: none;
}

.bayan-item {
    border-top: 0.1vh #000000 solid;
}

.bayan-item-label {
    display: block;
    padding: 1vh 0 1vh 0;
    cursor: pointer;
    text-align: left;
}

.bayan-item input:checked~.bayan-item-label {
    color: green;
}

.bayan-item-description {
    visibility: hidden;
    height: 0;
    text-align: center;
}

.bayan-item input:checked~.bayan-item-description {
    visibility: visible;
    height: auto;
    color: #000000;
}

.bayan-item:hover .bayan-item-description {
    visibility: visible;
    height: auto;
    display: block;
}

.bayan-item-image {
    max-width: 100%;
    max-height: 30vh;
    padding-bottom: 2vh;
}

.copyright {
    text-align: right;
    color: silver;
    font-size: calc(0.5em + 0.5vh);
}